@media (max-width: 1018px) {
  .hover-element {
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s;
  }
  .hover-element.active {
    color: #2762eb;
    font-weight: bold;
  }
}

@media (min-width: 1019px) {
  .hover-element {
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s;
  }
  .hover-element.active {
    color: #2762eb;
    font-weight: bold;
    padding-left: 0.6rem;
    border-left: 3px solid;
  }
}

/* Sidebar.css */
/* افزودن استایل به سایدبار برای اسکرول */

/* استایل اندیکاتور اسکرول */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
