.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #2762eb);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
