@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.ttf");
}

.App {
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

.custom-progress-bar::-webkit-progress-value {
  background-color: blue;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 255, 0.856);
}
