@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.ttf");
}

.App {
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #2762eb;
  border-radius: 6px;
}
